(edif ANDgate_1
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2019 3 15 12 40 12)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-2, mapper map201609actrcp1, Build 005R"))
     )
   )
  (library ACG4
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell GND (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT))
         )
        (property is_pwr (integer 1))
       )
    )
    (cell VCC (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT))
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT))
           (port D (direction INPUT))
         )
       )
    )
    (cell INBUF (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT))
           (port PAD (direction INPUT))
         )
       )
    )
    (cell CFG2 (cellType GENERIC)
      (property dont_use (string "false"))
      (property dont_touch (string "false"))
       (view PRIM (viewType NETLIST)
         (interface
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port Y (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell ANDgate_1 (cellType GENERIC)
       (view behavioral (viewType NETLIST)
         (interface
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction OUTPUT))
         )
         (contents
          (instance A_ibuf (viewRef PRIM (cellRef INBUF (libraryRef ACG4)))
          )
          (instance B_ibuf (viewRef PRIM (cellRef INBUF (libraryRef ACG4)))
          )
          (instance C_obuf (viewRef PRIM (cellRef OUTBUF (libraryRef ACG4)))
          )
          (instance (rename CZ0 "C") (viewRef PRIM (cellRef CFG2 (libraryRef ACG4)))
           (property INIT (string "8"))
          )
          (instance GND (viewRef PRIM (cellRef GND (libraryRef ACG4)))          )
          (instance VCC (viewRef PRIM (cellRef VCC (libraryRef ACG4)))          )
          (net (rename GNDZ0 "GND") (joined
           (portRef Y (instanceRef GND))
          ))
          (net (rename VCCZ0 "VCC") (joined
           (portRef Y (instanceRef VCC))
          ))
          (net A_c (joined
           (portRef Y (instanceRef A_ibuf))
           (portRef A (instanceRef CZ0))
          ))
          (net (rename a "A") (joined
           (portRef A)
           (portRef PAD (instanceRef A_ibuf))
          ))
          (net B_c (joined
           (portRef Y (instanceRef B_ibuf))
           (portRef B (instanceRef CZ0))
          ))
          (net (rename b "B") (joined
           (portRef B)
           (portRef PAD (instanceRef B_ibuf))
          ))
          (net C_c (joined
           (portRef Y (instanceRef CZ0))
           (portRef D (instanceRef C_obuf))
          ))
          (net (rename c "C") (joined
           (portRef PAD (instanceRef C_obuf))
           (portRef C)
          ))
         )
        (property orig_inst_of (string "ANDgate_1"))
       )
    )
  )
  (design ANDgate_1 (cellRef ANDgate_1 (libraryRef work))
	(property PART (string "m2gl005tq144std") (owner "Microsemi")))
)
